<a routerLink="/" routerLinkActive="active">
  << </a>
<button (click)="toogleChart()">Toogle </button>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>

          <mat-panel-title>
            Change
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex;width:100%;">
          <mat-card>
            <mat-card-title>Illustrated Scenario</mat-card-title>
            <button mat-raised-button (click)="setReturn('LOW');createChart(0);" [ngClass]="rtn=='LOW'?'hl':''"> Guaranteed </button>
            <button mat-raised-button (click)="setReturn('MEDIUM');createChart(0);" [ngClass]="rtn=='MEDIUM'?'hl':''"> Medium </button>
            <button mat-raised-button (click)="setReturn('HIGH');createChart(0);" [ngClass]="rtn=='HIGH'?'hl':''"> High </button>
          </mat-card>
          <mat-card>
            <mat-card-title>View</mat-card-title>
            <button mat-raised-button (click)="setView('AV');createChart(0);" [ngClass]="selectedView=='AV'?'hl':''"> Account Value </button>
            <button mat-raised-button (click)="setView('SV');createChart(0);" [ngClass]="selectedView=='SV'?'hl':''"> Surrender Value </button>
            <button mat-raised-button (click)="setView('DB');createChart(0);" [ngClass]="selectedView=='DB'?'hl':''"> Death Benefit </button>

          </mat-card>
          <mat-card>
            <mat-card-title>Opitonal Fields</mat-card-title>
            <button *ngFor="let f of avaliableFields" mat-raised-button (click)="updateOptionalFields(f)" [ngClass]="OptionalFields.includes(f)?'hl':''"> {{f.replace('($rtn)', '')}} </button>
          </mat-card>
        </div>
        <br>
        <mat-button-toggle (click)="showSlider()">Show Slider</mat-button-toggle>
        <mat-button-toggle (click)="showTable=!showTable">Table/Chart</mat-button-toggle>

        <mat-slider [(ngModel)]="ui.step" min=1 max=5 (change)="createChart()"></mat-slider>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card>
      <div *ngIf="ui.isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div style="width:100%;" [ngStyle]="{'display':showTable?'none':'block'}">


        <nouislider id="slider" style="" [connect]="true" [min]="0" [max]="maxIndex" [step]="1" [(ngModel)]="ui.sliderValues"></nouislider>
        {{value}}
        <canvas id="canvas">
    </canvas>

        <br>
        <table *ngIf="proposalData['Year']">
          <tr>
            <th class="sticky">
              Year/Age
            </th>
            <th>
              Total Premium
            </th>

            <th> Topup </th>
            <th> Withdrawal </th>
            <th *ngIf="selectedView=='AV' || selectedView=='SV'"> Account Value</th>
            <th *ngIf="selectedView=='SV'"> Cash Surrender Value</th>
            <th *ngIf="selectedView=='DB'"> Death Benefit</th>
          </tr>
          <tr *ngFor="let i of [0, ui.sliderValues[0], ui.sliderValues[1]]">
            <td class="sticky">{{proposalData["Year"][i]}} / {{proposalData["Age"][i]}}</td>
            <td>{{proposalData["Total Premium"][i]| currency}}</td>

            <td><input matInput [(ngModel)]="input.topup[i]" placeholder="topup" (click)="openDialog(input.topup, i)"> </td>
            <td><input matInput [(ngModel)]="input.withdrawal[i]" placeholder="withdrawal" (click)="openDialog(input.withdrawal, i)"></td>
            <td *ngIf="selectedView=='AV' || selectedView=='SV'"> {{proposalData["Account Value (" + rtn + ")"][i]| currency}}</td>
            <td *ngIf="selectedView=='SV'"> {{proposalData["Surrender Value (" + rtn + ")"][i]| currency}}</td>
            <td *ngIf="selectedView=='DB'"> {{proposalData["Death Benefit (" + rtn + ")"][i]| currency}}</td>
          </tr>
        </table>
      </div>
      <div style="width:100%;" [ngStyle]="{'display':!showTable?'none':'block'}">
        <table>
          <tr>
            <th class="sticky">
              Year/Age
            </th>
            <th>
              Total Premium
            </th>

            <th> Topup </th>
            <th> Withdrawal </th>
            <th *ngFor="let f of fullTableFields">
              {{f.replace('($rtn)', '')}}
            </th>
            <th *ngFor="let f of OptionalFields">
              {{f.replace('($rtn)', '')}}
            </th>
          </tr>

          <tr *ngFor="let i of getShowTable()">

            <td class="sticky">{{proposalData["Year"][i - 1]}} / {{proposalData["Age"][i-1]}}</td>
            <td>{{proposalData["Total Premium"][i -1 ]| currency}}</td>

            <td><input matInput [(ngModel)]="input.topup[i - 1]" placeholder="topup" (click)="openDialog(input.topup, i-1)"> </td>
            <td><input matInput [(ngModel)]="input.withdrawal[i - 1]" placeholder="withdrawal" (click)="openDialog(input.withdrawal, i-1)"></td>
            <td *ngFor="let f of fullTableFields">
              {{proposalData[f.replace('$rtn', rtn)][i - 1] | currency}}
            </td>
            <td *ngFor="let f of OptionalFields">
              {{proposalData[f.replace('$rtn', rtn)][i - 1] | currency}}
            </td>
          </tr>
        </table>

      </div>
    </mat-card>
