<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Change
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-title>Illustrated Scenario</mat-card-title>
      <button mat-raised-button (click)="setReturn('LOW')" [ngClass]="rtn=='LOW'?'hl':''"> Low </button>
      <button mat-raised-button (click)="setReturn('MEDIUM')" [ngClass]="rtn=='MEDIUM'?'hl':''"> Medium </button>
      <button mat-raised-button (click)="setReturn('HIGH')" [ngClass]="rtn=='HIGH'?'hl':''"> High </button>

    </mat-card>
    <mat-card>
      <mat-card-title>Opitonal Fields</mat-card-title>
      <button *ngFor="let f of avaliableFields" mat-raised-button (click)="updateOptionalFields(f)" [ngClass]="OptionalFields.includes(f)?'hl':''"> {{f}} </button>


    </mat-card>
    <mat-card>
      <mat-card-title>Input Fields</mat-card-title>
      <mat-form-field>
        <input matInput placeholder="Face Amount" [(ngModel)]="fm">
      </mat-form-field>
      <button mat-raised-button (click)="update()">update</button>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>



<mat-card>
  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div style="width:100%;" [ngStyle]="{'display':showTable?'none':'block'}">

    <mat-slider id="slider" thumbLabel tickInterval="1" *ngIf="proposalData['Year']" style="" [(ngModel)]="selectedIndex" min="0" max="{{maxIndex}}"></mat-slider>
    <mat-slider id="slider2" thumbLabel tickInterval="1" *ngIf="proposalData['Year']" style="" [(ngModel)]="maxShowIndex" min="0" max="{{maxIndex}}"></mat-slider>
    <canvas id="canvas" (mousedown)="toggleOrigin()">
    </canvas>

    <br>
    <table *ngIf="proposalData['Year']">
      <tr>
        <th>
          Year/Age
        </th>
        <th>
          Premium Paid
        </th>
        <th>
          Account Value
        </th>
        <th *ngFor="let f of OptionalFields">
          {{f}}
        </th>
      </tr>
      <tr *ngFor="let i of [0, this.selectedIndex, this.maxShowIndex]">
        <td>{{proposalData["Year"][i]}} / {{proposalData["Age"][i]}}</td>
        <td>{{proposalData["Total Premium"][i]| currency}}</td>
        <td>{{proposalData["Account Value (" + rtn + ")"][i] | currency}}</td>
        <td *ngFor="let f of OptionalFields">
          {{proposalData[f + " (" + rtn + ")"][i] | currency}}
        </td>
      </tr>
    </table>
  </div>
  <div style="width:100%;" [ngStyle]="{'display':!showTable?'none':'block'}">
    <table>
      <tr>
        <th>
          Year/Age
        </th>
        <th>
          Premium Paid
        </th>
        <th>
          Account Value
        </th>
        <th *ngFor="let f of OptionalFields">
          {{f}}
        </th>
      </tr>

      <tr *ngFor="let i of getShowTable()">

        <td>{{proposalData["Year"][i - 1]}} / {{proposalData["Age"][i-1]}}</td>
        <td>{{proposalData["Total Premium"][i -1 ]| currency}}</td>
        <td>{{proposalData["Account Value (" + rtn + ")"][i -1] | currency}}</td>
        <td *ngFor="let f of OptionalFields">
          {{proposalData[f + " (" + rtn + ")"][i - 1] | currency}}
        </td>

      </tr>
    </table>

  </div>

  <mat-button-toggle (click)="toggleOrigin()">Hide Original Values</mat-button-toggle>
  <mat-button-toggle (click)="showSlider()">Show Slider</mat-button-toggle>
  <mat-button-toggle (click)="showTable=!showTable">Table/Chart</mat-button-toggle>

</mat-card>
