#slider {
  position: absolute;
  width: 100%;
  display: none;
}

table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: right;
}
