<app-customerindicator></app-customerindicator>
<hr>
<h2> form level validation </h2>
<app-custom-validator field="GENERAL"></app-custom-validator>
<hr>
<h2> form </h2>
<div>
  <mat-form-field>
    <input matInput placeholder="Face Amount" required [(ngModel)]="productInput.fm">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Age" required [(ngModel)]="productInput.age">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Planned Premium" required [(ngModel)]="productInput.plannedPremium">
  </mat-form-field>
  <app-custom-validator field="%TOTAL_AMOUNT%"></app-custom-validator>
</div>
<button (click)="check()">Submit</button> {{errors}}
