<mat-grid-list cols="4" rowHeight="500px" rowWidth="300px">
  <mat-grid-tile>
    <mat-card class="form">
      <mat-card-title>Owner</mat-card-title>
      <mat-checkbox [(ngModel)]="customers.owner.isInsured">Same as Owner</mat-checkbox>
      <app-customer-form [(customerObject)]="customers.owner" [(customerMaster)]="customerMaster"></app-customer-form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!customers.owner.isInsured">
    <mat-card class="form">
      <mat-card-title>Insured</mat-card-title>
      <app-customer-form [(customerObject)]="customers.insured" [(customerMaster)]="customerMaster" [customerListRef]="getBindedId()"></app-customer-form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let item of customers.dependents; let i = index">
    <mat-card class="form">
      <mat-card-title>Dependent</mat-card-title>
      <app-customer-form [(customerObject)]="customers.dependents[i]" [(customerMaster)]="customerMaster" [customerListRef]="getBindedId()"></app-customer-form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<button mat-raised-button (click)="addDependent()">ADD</button> propse customers
<pre>{{customers | json}}</pre> customer master
<pre>{{customerMaster | json}}</pre>
