<div *ngIf="customerObject && !selectCustomerMode">
  <mat-form-field>
    <input matInput placeholder="Enter your Name" required [(ngModel)]="customerObject.lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your Name" required [(ngModel)]="customerObject.firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Age"  [(ngModel)]="customerObject.age" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required [(ngModel)]="customerObject.email">
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Occupation" [formControl]="occupation" required>
  </mat-form-field>
</div>
<div *ngIf="selectCustomerMode">
  Select dependent
  <div *ngFor="let c of loadCustomerList()">
    <button mat-raised-button (click)="assignCustomer(c.id)">{{c.firstName}} {{c.lastName}}</button>
  </div>
</div>
refID: {{customerObject.customerId}} {{customerObject.id}}
binded: {{customerListRef | json}}
