<div style="display: flex">
  <app-customer-view></app-customer-view>
  <div style="display: flex;width:100%;">
    <div>
      <mat-card>
        <mat-card-title>Base Plan</mat-card-title>
        <mat-form-field>
          <input matInput placeholder="Face Amount" [(ngModel)]="productInput.fm" type=number>
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Planned Premium" [(ngModel)]="productInput.plannedPremium" type=number>
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured Age" [(ngModel)]="productInput.age">
        </mat-form-field>
        <button  mat-mini-fab (click)="addRider()">+</button>
      </mat-card>
      <mat-card *ngFor="let rider of productInput.riders;let i = index; ">
        <mat-card-title>Rider</mat-card-title>
        <mat-form-field>
          <input matInput placeholder="product id" [(ngModel)]="rider.productId">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Face Amount" [(ngModel)]="rider.fm" type=number>
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="occupation" [(ngModel)]="rider.occupation">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Insured Age" readonly [(ngModel)]="rider.age">
        </mat-form-field>
        <button  mat-mini-fab (click)="deleteRider(i)">-</button>
      </mat-card>
    </div>
  </div>
</div>
<button color="primary" style="width:100%;margin: 10px;" mat-raised-button (click)="update()">View Illustration</button>
