// *************************************
//
// FONTS
//
// *************************************
$font-path: "./assets/fonts";
@font-face {
    font-family: 'ClassicGrotesquePro-Book';
    src: url($font-path + "/ClassicGrotesquePro-Book.ttf") format("truetype");
    src: url($font-path + "/ClassicGrotesquePro-Book.woff") format("woff");
}
@font-face {
    font-family: 'ClassicGrotesquePro-SmBd';
    src: url($font-path + "/ClassicGrotesquePro-SmBd.ttf") format("truetype");
    src: url($font-path + "/ClassicGrotesquePro-SmBd.woff") format("woff");
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url($font-path + "/PlayfairDisplay-Italic.ttf") format("truetype");
    src: url($font-path + "/PlayfairDisplay-Italic.woff") format("woff");
}
